.header{
    margin: 0;
    padding: 0;
    height: 30vh;
    background-color: #265073;
    background-position: center;
    background-size: top;
}

.body .write-blog-menu{
    position: absolute;
    top: 2rem;
    right: 2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: all 0.4s;
}

.body .write-blog-menu i{
    color: white;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.4s;
}

.body .write-blog-menu:hover{
    background-color: white
}

.body .write-blog-menu:hover i{
    color: black;
}


.body .header h1{
    padding-top: 4rem;
    color: white;
    font-size: 4rem;
    font-weight: 700;
    text-shadow: 0.2rem 0.2rem 0.4rem rgb(27, 227, 204);
    text-align: center;
    padding-bottom: 2rem;
}




.page{
    background-color: #9AD0C2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0 2rem 0;
}

.page .box{
    width: 70%;
}

.page .box input,
.page .box textarea{
    width: 100%;
    border-radius: 1rem;
    background: rgba(0, 0, 0, 0.8);
    padding: 0 0 0 1rem;
    color: white;
    font-size: 1.2rem;
}

.page .box input::placeholder,
.page .box textarea::placeholder{
    color: rgba(255,255,255, 0.5);
}

.page .box input{
    height: 3rem;
}

.page .box textarea{
    height: 30rem;
    resize: none;
}

.page .button{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.page .button .btn{
    padding: 0.5rem;
    width: 30%;
    transition: all 0.2s;
}

.page .button .btn:hover{
    transform: scale(0.9);
}






.footer{
    background-color: #122b40;
}

.footer .footer-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem;
    padding-top: 2rem;
}

.footer .footer-container .logo{
    margin-left: 1rem;
}

.footer .footer-container .box h3,
.footer .footer-container .box p{
    color: white;
}

.footer .footer-container .box .share a{
    color: white;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: .5rem;
    font-size: 2rem;
    margin-left: .2rem;
    background: #265073;
    text-align: center;
    transition: 0.4s;
    text-decoration: none;
    cursor: pointer;
}

.footer .footer-container .box .share a:hover{
    transform: scale(0.7);    
}

.footer .footer-container .box .links{
    display: block;
    font-size: 1rem;
    color: #fff;
    padding: 0.4rem 0;
    text-decoration: none;
    cursor: pointer;
}

.footer .footer-container .box .links i{
    padding-right: 0.5rem;
    transition: 0.4s;
}

.footer .footer-container .box .links:hover i{
    padding-right: 1.5rem;
}

.footer .footer-container .newsletter .email{
    height: 2.5rem;
    width: 80%;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    padding-left: 0.5rem;
}

.footer .footer-container .newsletter .email:focus{
    outline: none;
    box-shadow: 0 0 0.4rem 0.3rem rgb(27, 227, 204);
}

.footer .footer-container .newsletter .btn{
    transition: 0.2s;
}

.footer .footer-container .newsletter .btn:hover{
    transform: scale(0.9);
}

.footer .credits{
    margin-top: 2rem;
    padding-bottom: 2rem;
    background-color: #122b40;
    color: white;
    font-size: 1.5rem;
    text-align: center;
}





#toast {
    position: fixed;
    top: 2rem;
    right: 2rem;
    padding: 1rem;
    background-color: #4CAF50;
    color: white;
    border-radius: 0.5rem;
    display: none;
    z-index: 10;
}

.show {
    display: block;
    animation: fadeInOut 3s ease-out;
}
  
@keyframes fadeInOut {
    0%, 100% {
    opacity: 0;
    }
    25%, 75% {
    opacity: 1;
    }
}




.offcanvas{
    background-color: #9AD0C2;
}

.offcanvas .offcanvas-body .btn{
    width: 60%;
}
